<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoMorePrior.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".Activities.RedActivity"
            android:screenOrientation="reverseLandscape"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activities.SpinningActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.FinalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.WalkthroughActivity"
            android:exported="false"
            android:screenOrientation="reverseLandscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.MenuActivity"
            android:exported="false"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".Activities.PlayerName"
            android:exported="false"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SecondActivity"
            android:exported="false"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".Activities.FirstActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="reverseLandscape" />

        <service android:name=".Useful.AudioService" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="2bCWO0b-G550RbEZxu8lZENRRT5mNXk1UOGnFui5Tx3FD9Gbwz07KThAhRLIc9ALwtFTv1x6zyzZko55Pua8pg" />
    </application>

</manifest>